In [2]:
import pandas as pd
import numpy as np
import openpyxl
import xlwt
from openpyxl import load_workbook

## Réception Management Rapport - Mois (30).xlsx

In [3]:
df_asn = pd.read_excel(r'Réception Management Rapport - Mois (33).xlsx', header=None)

asn = df_asn[0]

In [5]:
wb = load_workbook('Réception Management Rapport - Mois (33).xlsx') #loading the excel file(Reception Management Rapport - Mois(30).xlsx) 
ws = wb.active # We active the workbook in order for us to make changes or work with the file


ws.delete_rows(idx=1,amount=14) # we delete the first 14 rows of the rapport(idx biscally means the index we want to start to delet the rows and the amount is the amount of rows to be deleted from the index given)

asn = ws['A'] ## select the "A" column from the file
ASNs = []
#creating a loop to extract the values form the A columns
for cell in asn:
    print(f'{cell.value}\n')
    ASNs.append(cell.value)

249900294

249900293

24R21858

0240600687

24R198658

24R47806

24R12032

24R2726

24R3041

0240600165

0240600849

0240601131

249900306

249900292

249900291

249900308

249900307

249900305

249900304

249900303

249900302

249900301

0240600848

0240600342

0240600342

24R240202997

240203448

24R240201774

240201774

0240600505

0240600506

0240600341

0240600449

0240600362

0240600508

0240600444

0240600590

0240600450

0240600451

249900233

249900232

249900226

249900225

249900228

249900230

249900227

249900231

249900229

249900224

249900266

0240600845

249900289

249900288

249900287

249900286

249900285

249900283

249900282

249900281

249900280

249900279

249900278

249900277

249900276

249900275

249900274

249900273

249900272

249900271

249900270

249900269

249900268

249900267

249900265

249900264

249900263

249900262

249900261

249900260

249900259

249900258

249900257

249900256

249900255

249900254

249900253

249900252

249900251

249900250

249900249

249900248

249900247

249900246

249900245

249900244

249900243

249900242

249900241

249900240

249900239

249900238

249900237

249900236

0240601132

24R17576617

24R3294

0240601133

24R17576265

24R5630

24R17575105

0240600592

0240600299

0230607007

0240600140

0240601129

0240601128

240203648

240201230

249900284

249900223

249900222

249900235

249900234

249900218

249900217

249900216

249900215

249900214

249900213

249900212

249900211

249900210

249900209

249900208

249900207

249900206

249900205

249900204

249900203

249900202

0240600591

0240600507

0240600921

0240600767

0240600135

0240600133

0240600080

240202322

240201400

240203442

In [6]:
df = pd.DataFrame(ASNs)

In [7]:
df.to_excel (r'asn.xlsx', index = None, header=True)

## file_list.csv

In [8]:
df_file = pd.read_csv('file_list.csv',header=None)
df_file.head()

                                                   0
0  FPR40MVT_COP_249900124_20240229_180749386_2024...
1  FPR40MVT_COP_249900140_20240301_091602865_2024...
2  FPR40MVT_COP_249900144_20240226_160038798_2024...
3  FPR40MVT_COP_249900179_20240227_133358213_2024...
4  FPR40MVT_COP_249900180_20240227_133359248_2024...

In [9]:
df = df_file[0].str.split('_',expand=True)

df = df[[2]]

df.head()

           2
0  249900124
1  249900140
2  249900144
3  249900179
4  249900180

In [10]:
# determining the name of the file
file_name = r'Monitor.xlsx'
 
# saving the excel
df.to_excel(file_name,index=None,header=True)